# files which git should ignore
*.bak
*~
*.log
*.$$$
*.out

# quote hash-marks
\#*\#

.Rhistory
*.tcl.1
perftools/iptools/hosts

# 30-1-2011 NdV web2py ignores werken nog niet zo, uitzoeken.
**/web2py/cache/
**/web2py/databases/
**/web2py/errors/
**/web2py/sessions/

output/
